@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
#root,
.app {
  height: 100%;
  ;
  @apply text-white;
} */

.lolo {
  background:
    /* top, transparent black, faked with gradient */
    linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)),
    /* bottom, image */
    url(../assets/SA-en-20221219-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  height: 78vh;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* loko {
  background: url('.assets/download-icon.gif');
  background-position: 50%;
  background-repeat: no-repeat;
} */